* {
  margin: 0;
}

body{
  margin: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
}

.app{
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.app__body{
  display: flex;
  width: 100%;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}

